*.o
*.a
*.lo
*.la
*.so
*.sgml
*.conf
*~
*.gz

.deps
.libs
.dirstamp

Makefile.in
Makefile

aclocal.m4
autom4te.cache
configure
config.log
config.status
config.guess
config.h
config.h.in
config.sub
depcomp
install-sh
libcgmanager.pc
libcgmanager.pc.in
ltmain.sh
missing
stamp-h1
libtool

m4/

cgmanager
cgmanager-client.c
cgmanager-client.h
cgproxy

org.linuxcontainers.cgmanager.c
org.linuxcontainers.cgmanager.h
